.mpv-progress-outer {
    position: relative;
}

.mpv-progress-outer::after {
    content: "";
    background: black;
    width: 100%;
    height: 0.2em;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

.mpv-progress-inner {
    height: 1em;
    position: relative;
    line-height: 1em;
}

.mpv-progress-inner::after {
    content: "";
    background: black;
    border-radius: 50%;
    width: 1em;
    height: 1em;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(50%, -50%);
}

.round {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    position: relative;
    background: black;
}

.round::after {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

body.no-touch .round:hover {
    box-shadow: inset 0 0 0 99em rgba(255,255,255,.4);
}

.mpv-title {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}
