.search-hl {
    color: red;
}

.search-res {
    word-break: break-all;
    cursor: pointer;
    transition: all .3s;
    user-select: none;
    font-size: 0.8em;
    position: relative;
    display: flex;
}

body.no-touch .search-res:hover, body.no-touch .rows > *:nth-child(odd):hover {
    background: gray;
}

.rows > *:nth-child(odd) {
    background: #dddddd;
}

.invalid, .invalid:focus {
    color: red;
    border-color: red;
}

.root-error {
    color: #8b0000;
}

.root-pending {
}

.root-done {
    color: green;
}

.root-loading {
    color: blue;
}

.search-detail {
    padding: 0.3em;
}

.search-content {
    padding: 0.2em;
    margin-left: 0.1em;
}
