.search-hl {
    color: red;
}

.search-res {
    word-break: break-all;
    cursor: pointer;
    transition: all .3s;
    user-select: none;
}

body.no-touch .search-res:hover, body.no-touch .rows > *:nth-child(odd):hover {
    background: gray;
}

.rows > *:nth-child(odd) {
    background: lightgray;
}

.invalid, .invalid:focus {
    color: red;
    border-color: red;
}
